<!-- ******DOCS****** --> 
<section id="getstarted" class="docs section">
    <div class="container">
        <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <div class="block">
                <h3 class="sub-title text-center">Installation</h3>
                <p>Install the prototypemvc skeleton </p>
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-markup">composer create-project prototypemvc/prototypemvc-skeleton myapplication -s dev</code></pre>
                </div><!--//code-block-->
            </div><!--//block-->
 
            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p>For more information about prototypemvc see our complete documentation with examples</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="/docs/">docs</a>
                </p>
            </div><!--//block-->

        </div><!--//docs-inner-->         
    </div><!--//container-->
</section><!--//docs->
