    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">prototype<span class="highlight">mvc</span></h2>
            <p class="intro">A simple PHP mvc framework</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/docs/" target="_blank">Docs</a>
                <a class="btn btn-cta-primary" href="https://github.com/prototypemvc/prototypemvc/" target="_blank">Github</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="https://github.com/prototypemvc/prototypemvc/" target="_blank">View on GitHub</a></li>
                <li><a href="/docs" target="_blank">Full Documentation</a></li>
                    <li>Created by: Perry Faro &amp; Rick van der Wolk</li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=prototypemvc&repo=prototypemvc&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
                    <li class="github-fork"><iframe src="http://ghbtns.com/github-btn.html?user=prototypemvc&repo=prototypemvc&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
                    
                </ul>
            </div>
        </div>
    </section><!--//promo-->
